<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
      <link rel="stylesheet" href="{{url_for('static', filename='CSS/Shared.css')}}"/>
     <link rel="stylesheet" href="{{url_for('static', filename='CSS/Report.css')}}"/>
       <script src="{{url_for('static', filename='JavaScript/Report_page.js') }}" defer></script>
    <script src="{{ url_for('static', filename='JavaScript/Shared.js')}}" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

     <div class="header">
            
             <!--Hamburger Menu-->
            <button class="hamburger-menu" id="hamburger-menu" aria-label="Open menu">
            <i class="fas fa-bars"></i> 
            </button>

            <nav id="sidebar-menu" class="sidebar-menu">
                <button class="close-button" aria-label="Close menu">&times;
                </button>
                <ul> 
                    <li><a href="{{url_for('auth.account')}}">Account</a></li>
                    <li><a href="{{url_for('auth.home')}}">Home</a></li>
                    <li><a href="{{url_for('auth.report')}}">Report</a></li>
                    <li><a href="{{url_for('auth.popup')}}">Notifications</a></li>
                    <li><a href="{{url_for('auth.emergency')}}">Helplines</a></li>
                    <li><a href="{{url_for('auth.about')}}">About Us</a></li>
                    <li><a href="{{url_for('auth.userfeed')}}">Userfeed</a></li>
                    <li><a href="{{url_for('auth.feedback')}}">Feedback</a><li>
                </ul>
                {% if session.get("username")%}
               <a href="{{url_for('auth.logout')}}">Logout</a>
                {% endif%}
            </nav>
            <!--Logo-->
            <a href="{{url_for('auth.home')}}">
            <img src="{{url_for('static', filename='Images/SafestreetsLogo.JPG')}}" id="header-logo" alt="logo" >
            </a>
        </div>

        <form id="report-form" method="POST" enctype="multipart/form-data">

        <div id="report-contents">
        <div class="reportpage-divs">
          <label for="crime-types">Type of Crime:</label>
          <select id="crime_types" name="crime_type" required>
            <option value="theft">Theft</option>
            <option value="burglary">Burglary</option>
            <option value="assault">Assault</option>
            <option value="robbery">Robbery</option>
            <option value="fraud">Fraud</option>
            <option value="vandalism">Vandalism</option>
            <option value="murder">Murder</option>
            <option value="kidnapping">Kidnapping</option>
            <option value="arson">Arson</option>
            <option value="cybercrime">Cybercrime</option>
            <option value="other">Other</option>
           </select>
        </div>

        <div class="reportpage-divs">
            <label for="crime-date">Date & Time of Occurence (Optional)</label>
            <input type="datetime-local" id="crime-date" name="crime_date">
        </div>

            <!---GEO TAG---->
            <div class="location-tag">
                <i class="fas fa-map-marker-alt"></i>
                <button id="location-button" type="button" onclick="getLocation()" name='tagged-location'>Tag location</button><br>
                 <div id="location-display"></div>
             </div>   

         <span id="geo-error"></span>
         <div id="map-holder" class="map-container"> 
            <div class="loader"></div>
        </div>
        
        <label for="description">Brief Description of Incident (Optional)</label>
        <textarea id="description" name="description" placeholder="Enter description here..." maxlength="500" required></textarea>


        <label for="image-upload">Upload Image:</label>
        <input type="file" id="image-upload" name="images[]" accept="image/*" multiple>
    
        <label for="video-upload">Upload Video:</label>
        <input type="file" id="video-upload" name="videos[]" accept="video/*" multiple>


        <button type="button" class="bottom-square-buttons" id="submit-button" onclick="submitReport()">NEXT</button>

    </form>

         <div class ="footer-buttons">
            <a href="{{url_for('auth.home')}}">
            <button class="bottom-round-buttons" id="home-button"><i class="fas fa-home"></i></button>
            </a>

            <a href="#">
            <button class="bottom-round-buttons" id="refresh-button"><i class="fas fa-sync-alt"></i></button>
            </a>
        </div>
           
    </div>
    <script>
    var confirmationUrl = "{{ url_for('auth.confirmation') }}";
</script>
</body>

</html>